@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables */

:root {
  --font-size:1rem;
}
.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #F0F0F0;  
}
.dark-mode {
  --navbar-color: #FFF;
  --navbar-bg-color: #1a3d6b;  
}

/* Reset */
* {
  box-sizing:border-box; 
  outline:none;
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
}

/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/*  Small device */
@media screen and (max-width:767.98px) {
  .navbar__links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }
  .show-nav .navbar__links { 
    
    width:100vw;    
    transform: translateX(0);
  } 
  .navbar__link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar__link  {        
    transform: translateX(0);    
  }   
  .navbar__link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
    color: var(--navbar-color);

  }
  
  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Bonus - Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }

   .navbar__link:hover > a {
    color: var(--navbar-color); /* Ajoutez cette ligne */
  }

}

/* bonus */
.main-content, #section2 {
  height:100vh;
}

.footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content-wrap {
    flex: 1;
    margin-bottom: 50px;
  }

  .submit-button-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
  }
  .btn-submit {
   font-family: Roboto, sans-serif;
   font-weight: 0;
   font-size: 14px;
   color: #fff;
   background-color: #0066CC;
   padding: 10px 30px;
   border: 2px solid #0066cc;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
   border-radius: 50px;
   transition : 1000ms;
   transform: translateY(0);
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
  }

  .btn-submit:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
  }

  .contact-form-container {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px; /* Modifiez cette valeur pour ajuster la largeur du formulaire */
    margin: 50px auto;
  }

  .form-control {
    width: 100%;
    margin-bottom: 15px;
  }

  .language-selector {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  .language-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .language-btn:focus {
    outline: none;
  }
#worker-application-form {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez cette ligne */
  /* Autres propriétés CSS ici, si nécessaire */
}


.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-4-22 4:14:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}


.container-bottom-to-up {
 overflow: hidden;
 margin: 0px;
 }

.bottom-to-up {
 animation: 0.4s bottom-to-up forwards;
 font-size: 24px;
 font-weight: 600;
 letter-spacing: -.005em;
 font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: rgba(0,0,0,0.8);
 text-align: left;
 }
 @keyframes bottom-to-up {
 from {
 transform: translateY(48px);
 }
 to {
 transform: translateX(0);
 }
 }







